
.h h1 {
  overflow: hidden;
}

.h h1 {
  float: left;
  color: white;
  padding: 60px 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.h h2 {
  float: right;
  color: white;
  padding: 60px 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
